*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.App-header {
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #636363;
  border-bottom: solid 1px #e9e9e9;
}

.App-link {
  color: #61dafb;
}

.footer{
  width: 100vw;
  height: 6vh;
  padding: 0.2rem;  
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #636363;
  background-color: rgba(0, 0, 0, .1);
}

/* menu horizontal*/
.MenuHorizontal{
  width: 30vw;
  height: auto;
  list-style: none;
  text-align: center;
}

.MenuHorizontal>li{
  width: 10vw;
  display: inline-block;
}

.MenuHorizontal>li:hover{
  background: rgba(196, 229, 247, 0.5);
}

.MenuItem{
    display: block;
    font-size: 1rem;
    padding: 1.2rem;
    justify-content: center;
    text-decoration: none;
    color: #1179A2;
}